.blog-section {
    text-align: center;
    padding-top: 5rem;
    width: 100%;
    background:#111827;
    &.light-mode{
      background-color: #ffffff;
      color: #111827;
      .container{
        background-color: #fff;
        .flex-container{
          .blog-card{
            .blog-content{
              .blog-title{
                color: #000000;
              }
              .blog-brief{
                color: #111827;
              }
              .blog-link{
                color: #4299e1;
              }
            }
          }
        }
      }
    }
    .container {
      width: 90%;
      margin: 0 auto;
      background: #111827;
  
      .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
  
        .blog-card {
          width: calc(33.33% - 20px);
          margin-bottom: 20px;
          border: 2px solid #707070 ;
          border-radius: 8px;
          overflow: hidden;
  
          .blog-image {
            
            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
  
          .blog-content {
            padding: 20px;
  
            .blog-title {
              font-size: 1.5rem;
              font-weight: bold;
              color: #ffffff;
              margin-bottom: 10px;
            }
  
            .blog-brief {
              font-size: 1rem;
              color: #ffffff;
              margin-bottom: 15px;
            }
  
            .blog-link {
              color: #4299e1;
              text-decoration: none;
              font-weight: bold;
              margin-bottom: 10px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  

  @media screen and (max-width: 768px){
    
  }