.container {
    height: 100%;
    width: 100%;
    padding-top: 0.035rem;
    background-color: #111827;

    &.light-mode {
        background-color: #ffffff;
        color: #000000;

        .title {
            color: #000000;
        }

        .slick-next,
        .slick-prev {
            color: #000000;
        }

        // .card_link_github{
        //     a{
        //         text-decoration: none;
        //         align-items: center;
        //         color: rgb(0, 0, 0);
        //         padding: 0.5rem 2rem;
        //         border-radius: 1.5rem;
        //         border: 2px solid white;

        //             &:hover{
        //                 color: #ffbb00;

        //             }
        //     }
        // }
    }

    .title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #ffaa00;
        margin-top: 5rem;
        position: relative;
        z-index: 5;
        text-align: center;
    }

    .card_container {
        display: flex !important;
        width: 100%;
        height: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        padding-top: 5rem;
        margin-bottom: 8rem;

        .left {
            width: 25%;
            img {
                border-radius: 2rem;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .right {
            width: 30%;
            text-align: center;

            .card_link_github {
                display: flex;
                justify-content: center;
                font-size: larger;
                gap: 4rem;

                a{
                    text-decoration: none;
                    align-items: center;
                    color: rgb(174, 0, 255);
                    padding: 0.5rem 2rem;
                    border-radius: 1.5rem;
                    border: 2px solid white;

                    &:hover{
                        color: #ffbb00;
                    }


                }
            }
        }
    }

    .slick-slider {
        width: 100%;
        position: relative;
    }

    .slick-prev,
    .slick-next {
        color: #ffffff9b;
        z-index: 1;
        font-size: larger;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease;

        &:hover {
            color: #ffffff;
        }
        
    }

    .slick-prev {
        left: 10rem;
        height: 2rem;
        width: 2rem;
    }

    .slick-next {
        right: 10rem;
        height: 2rem;
        width: 2rem;
    }

    @media screen and (max-width: 760px) {
        .card_container {
            margin: 1rem 0.5rem;
            display: flex;
            flex-direction: column;
            
            .left{
                width:70%;
            }

            .right{
                width:90%;
                text-align: center;
                
                .card_title{
                    font-size: 0.9rem;
                }
                .card_subtitle{
                    font-size: 0.8rem;
                }
                .card_link_github{
                    font-size: 0.8rem;
                    gap: 2rem;
                }
            }

        }
        .slick-prev {
            left: 2rem;
        }
        .slick-next {
            right: 2rem;
        }
    }
}
