.container{
    height: 100%;
    width: 100%;
    align-items:center;
    text-align: center;
    padding-top: 0.035rem;
    background-color: #0c002e;



    &.light-mode{
        background-color: #ffffff;
        color: #000000;

        .title{
            color: #000000;
        }
        
    }
    .title{
        font-size: 2rem;
        font-weight: 600;
        color: #ffaa00;
        margin-top: 5rem;
        position: relative;
        z-index: 5;
        font-size: 2.5rem;
        text-align: center;

    }

    

.card{
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 24rem 24rem;
    padding: 2rem 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    

    .card_container{
        background-color: #ffffff;
        color: black;
        margin: 2rem 2rem;
        display: flex;
        box-shadow: 2px 2px 6px 2px rgb(0,0,0,0.2);
        flex-direction: column;
        backdrop-filter: blur(20px);
        

        .card_title, .card_subtitle{
            position: absolute;
            text-align: center;
            display: flex;
            justify-content: center;
            color: #fff;
            align-items: center;
            flex-direction: column;
            left: 1rem;
            
        }

        .card_link_github {
            position: relative;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            gap: 1rem;
            align-items: center;
            justify-content: center;
            
            a{
                color: #200021;
                text-decoration: none;
            }
        }
        

        .card_subtitle{
            top: 2.4rem;
            text-shadow: 1px 1px 2px rgb(174, 0, 255), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
        }

        .card_img{
            height: 100%;
            width: 95%;
            position: relative;
            padding: 0.5rem 0.5rem;
            
            
            img{
                background-image:linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.796));
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: 1;
                z-index: 3;
            }
        }
        .card_desc{
            position: absolute;
            opacity: 0;
            text-align: justify;
            padding: 1rem;
            height: 13.5rem;
            color:#000000;
            
            &:hover{
                opacity: 1;
                background-color: #ffffff;
                
            }

        }
    }

    
}
}


@media screen and (max-width: 800px) {
    .container{
        .card{
            display: flex;
            flex-direction: column;
            position: relative;
            top: 2rem;
            gap: 1rem;
            grid-template-columns: 24rem ;
            padding: 1rem;
            bottom: 0;
            .card_container{
                top: 1rem;
            }
            
        }
    }
}