.navbar {
    width: 15rem;
    height: 32rem;
    position: absolute;
    overflow: visible;
    text-align: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    top: 4rem;
    right: 3rem;
    z-index: 3;
    background-color: #000000;

    .navList {
      padding: 0.15rem;
      list-style: none;
    }
    
    .nav-item {
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      cursor: pointer;
    }
}