.header {
    padding: 15px 20px;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    position: fixed;
    overflow: visible;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 2.5rem;
    backdrop-filter: blur(20px);


    &.light-mode {
        backdrop-filter: blur(20px);
        box-shadow: 0 0 10px rgba(192, 192, 192, 0.5);
        .logo{
            color: #8700e8;
        }

        .content-list {
            .content {
                color: #000000;
            }
        }
    }
      
    .logo{
        display: flex;
        align-items: center;
        flex: 0.9;
        color: #fff;
        font-weight: 700;
        font-size: 1.2rem;
        font-family: outfit,sans-serif;
        cursor: pointer;
    }

    .content-list {
        margin: 0 auto;
        display: flex;
        align-items: center;

        .content {
            list-style: none;
            margin-right: 1rem;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
            font-size: 1rem;
            font-weight: 500;

            &:hover {
                color:#ff3399; 
            }
            
        }

    }
    .btn{
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        gap: 0.175rem;
        font-family: outfit,sans-serif;
        padding: 10px 10px;
        position: relative;
        background: linear-gradient(90deg, #ff00d4 0%, #ffa200 100%);
        border-radius: 50px;
        border: 4px solid #ffffff;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.light-mode{
            background: linear-gradient(90deg, #ff00d4 0%, #8700e8 100%);
            border: none;
            color: #fff;
            padding: 10px 10px;
        }
    }
}


@media screen and (max-width: 800px) {
    .header {
        width: 100%;
        position: fixed;
        .logo{
            font-size: 1.2rem;
            flex: 0.9;
        }
        .content-list {
            display: flex;
            gap: 1rem;
            list-style: none;
 
            .hamburger{
                z-index: 5;
                cursor: pointer;
                font-size: 2rem;
                color: #fff;
                padding: 0 2rem 0 0.45rem;
                font-weight: 900;

                &.light-mode{
                    color:#000000
                }
            }

        }
    }
    
}