.footer{
    background-color: #000000;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    bottom: 0;

    &.light-mode{
        background-color: #af42e1;
        color: #000000;
        font-size: 1rem;
        .footer_contents{
            
            .content{
                color: #000;
            }
        }
    }

    .footer_contents{
        display: flex;
        align-items: center;
        font-size: 1rem;
        text-decoration: none;
        color: #ffffff;
        list-style: none;
        font-weight: 700;
    }
}


@media screen and (max-width: 768px) {
    .footer{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        gap: 1rem;
        padding: 1rem;
        bottom: 0;
        .footer_contents{
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }
    }
}   