.footer{
    background-color: #030029;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
    bottom: 0;

    &.light-mode{
        background-color: #f59aff;
        color: #000;
        font-size: 1.5rem;
        .footer_contents{
            
            .content{
                color: #000;
            }
        }
    }

    // .footer_contents{
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     padding: 1rem;
    //     .content{
    //         text-decoration: none;
    //         color: #fff;
    //         list-style: none;
    //     }
    // }
}


@media screen and (max-width: 650px) {
    .footer{
        display: flex;
        flex-direction: column;
        min-width: 650px;
        gap: 1rem;
        padding: 1rem;
        .footer_contents{
            flex-direction: column;
            gap: 0.5rem;
            .content{
                text-align: center;
            }
        }
    }
}   