
@font-face {
  font-family: "Outfit";
  src: url(/assets/Outfit.ttf);
}
:root {
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  font-family: "Outfit", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(5, 0, 48);

  --color-primary: #001c34;
  --color-secondary: #747bff;
  --color-tertiary: #f9f9f9;
  

}

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
}